<a href="https://colab.research.google.com/github/A7sultan/Python-DA-ML-portfolio/blob/main/Aminah_day4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

FUNCTIONS

From a function's perspective:

A parameter is the variable listed inside the parentheses in the function definition.

An argument is the value that are sent to the function when it is called.

In [ ]:
def my_func():
  print("It's day 4")

my_func()

It's day 4

Arguments in functions

In [ ]:
def func(arg):   #def is the keyword  used to define functions
  print(arg+" there!")
func("hey")      #function call

hey there!

Parameter

In [ ]:
def my_function(a,b):   #passing of two parameters
   print(a+b)

my_function(12,9)
my_function("Persian", "Cat")

21
PersianCat

Arbitrary

In [ ]:
def my_function(*heights):
   print("The last height entered is "+ str(heights[len(heights)-1]))

my_function(78,63,49,82)

The last height entered is 82

Keyword Arguments

can specify key=value

This way the order of the argument does not matter

In [ ]:
def My_func(fname, lname, email):
  print( fname + " "+ lname + " "+ email)

My_func("Ami", "ami7@gmail.com", "abc")
My_func(fname=  "Ami", email= "ami7@gmail.com", lname= "abc")

Ami ami7@gmail.com abc
Ami abc ami7@gmail.com

In [ ]:
def my_function(a): #a is parameter
  for x in a:
    print(x)

my_list=[1,2,3,4,5]

my_function(my_list)

1
2
3
4
5

In [ ]:
def m(name="Aminah"):
  print("My name is "+ name)

m("hello")
m(name= "Aminah")

My name is hello
My name is Aminah

Default parameter

In [ ]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

In [ ]:
def sq(i):
  print(f"square of {i} = "+ str(i*i))

num =int (input("Enter a number to be squared: "))
sq(num)

Enter a number to be squared: 5
square of 5 = 25

Unknown number of key arguments- add ** before parameter name

In [ ]:
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

Return Statement

In [ ]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

RECURSION- using conditional statements in Functions

In [ ]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21

Lamda function

In [ ]:
x= lambda a, b: a * b
print(x(2,3))

6

In [ ]:
def my_function(n):
  return lambda a : a * n

dot= my_function(3)

print(dot(100))

300

HOMEWORK

Regex practice questions

password checking #imp for interview