<a href="https://colab.research.google.com/github/A7sultan/Python-DA-ML-portfolio/blob/main/Aminah_Day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

SETS

unordered collection of objects

no duplication allowed

In [ ]:
colour={"red","blue", "green"}
print(colour)
print(7 in colour)
# print(colour[0])    #unordered collection
length= len(colour)
print(f"length of colours is {length}")
colour.add("yellow")
print(colour)
colour.discard("green")
print(colour)

{'green', 'blue', 'red'}
False
length of colours is 3
{'yellow', 'green', 'blue', 'red'}
{'yellow', 'blue', 'red'}

Dictionary

Consist of (key:value) pairs seperated by commas

In [ ]:
cars={1:"Maserati", 2:"Maybach", 3:"corvette", 4:"Tesla", 5:"Porsche"}
print(cars)
print(f"My favourite car is {cars[1]}")
cars.keys()  #print all keys of the dictionary
cars.get(4)  #prints value of the key passed
print(cars.values()) #prints all values of the dictionary
print(cars.items()) #gives all the key value pairs of the dictionary in a tuples

{1: 'Maserati', 2: 'Maybach', 3: 'corvette', 4: 'Tesla', 5: 'Porsche'}
My favourite car is Maserati
dict_values(['Maserati', 'Maybach', 'corvette', 'Tesla', 'Porsche'])
dict_items([(1, 'Maserati'), (2, 'Maybach'), (3, 'corvette'), (4, 'Tesla'), (5, 'Porsche')])

CONDITIONALS

    1. if

    2. if else

In [ ]:
a=7
b=9
if b>a:
  print("b is greater than a")
elif a==b:
  print("b is equal to a")
else:
  print("a is greater than b")
c=int(input("enter the value of c:")) #type casting is necessary from str to int
d=int(input("enter the value of d:")) #allows the user to give inputs
if c>d:
  print("c is greater than d")
elif c==d:
  print("c is equal to d")
else:
  print("d is greater than c")

b is greater than a
enter the value of c:5
enter the value of d:7
d is greater than c

Shorthand notations

In [ ]:
a=2
b=3
if a<b: print("a is smaller  than b")
print("A") if a>b else print("=") #single if else condition is allowed in a line
print("B") if b>a else print("hey")
c=5
if a < c and b < c: #largest of 3 numbers
  print("c is largest")
if a < b or c == a:
  print("Either one condition is true")

a is smaller  than b
=
B
c is largest
Either one condition is true

LOOPS

    1. For Loop
    2. While Loop

In [ ]:
i=1
while i < 10 :
 print(f"value of i is now: {i}")
 i+= 1
j=7
while j>0:   #printing numbers in reverse order
  print(f"value of j is now: {j}")
  if j==4:
   break #used to come out of an infinite loop or stop iteration on a certain condition
  j-=1
k=0
while k < 5:
  k +=1
  if k==3:
    continue # skips an iteration based on the if condition
  print(f"k:{k}")

value of i is now: 1
value of i is now: 2
value of i is now: 3
value of i is now: 4
value of i is now: 5
value of i is now: 6
value of i is now: 7
value of i is now: 8
value of i is now: 9
value of j is now: 7
value of j is now: 6
value of j is now: 5
value of j is now: 4
k:1
k:2
k:4
k:5

MEMBERSHIP OPERATORS

    1. in -> checks if the variable is present
    2. not in -> checks if the variable is not present

In [ ]:
pets=["cat", "dog", "fish", True, "racoon"]
for x in pets:
  print(x)

list1=[1,2,3,4,5]
list2=[5,6,7,8,9]
for items in list1:
  if items in list2:
    print("overlapping")
  else:
    print("not overlapping")

cat
dog
fish
True
racoon
not overlapping
not overlapping
not overlapping
not overlapping
overlapping

loop through string

In [ ]:
for i in "Batman":
  print(i)

B
a
t
m
a
n

In [ ]:
names=["ami", "ash", "insh", "arshi"]
marks=[8.06, 7.89, 6.91, 9.01]
for a in range(len(names)):
    print(f" {names[a]}- {str(marks[a])}")

 ami- 8.06
 ash- 7.89
 insh- 6.91
 arshi- 9.01

In [ ]:
for i in range(2,11):
 for j in range(1,11):
  print(f"{i}x{j}={i*j}")
 print("")

2x1=2
2x2=4
2x3=6
2x4=8
2x5=10
2x6=12
2x7=14
2x8=16
2x9=18
2x10=20

3x1=3
3x2=6
3x3=9
3x4=12
3x5=15
3x6=18
3x7=21
3x8=24
3x9=27
3x10=30

4x1=4
4x2=8
4x3=12
4x4=16
4x5=20
4x6=24
4x7=28
4x8=32
4x9=36
4x10=40

5x1=5
5x2=10
5x3=15
5x4=20
5x5=25
5x6=30
5x7=35
5x8=40
5x9=45
5x10=50

6x1=6
6x2=12
6x3=18
6x4=24
6x5=30
6x6=36
6x7=42
6x8=48
6x9=54
6x10=60

7x1=7
7x2=14
7x3=21
7x4=28
7x5=35
7x6=42
7x7=49
7x8=56
7x9=63
7x10=70

8x1=8
8x2=16
8x3=24
8x4=32
8x5=40
8x6=48
8x7=56
8x8=64
8x9=72
8x10=80

9x1=9
9x2=18
9x3=27
9x4=36
9x5=45
9x6=54
9x7=63
9x8=72
9x9=81
9x10=90

10x1=10
10x2=20
10x3=30
10x4=40
10x5=50
10x6=60
10x7=70
10x8=80
10x9=90
10x10=100