<a href="https://colab.research.google.com/github/A7sultan/Python-DA-ML-portfolio/blob/main/Aminah_day8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
arr = pd.Series([1,2,3,4,5,6])
print(arr)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [ ]:
arr=[1,6,5,7]
my_series = pd.Series(arr, index=['x','y','z','a'])
my_series

x    1
y    6
z    5
a    7
dtype: int64

In [ ]:
my_series=my_series.reindex(index=['a','b','c','d'])
my_series

a    7.0
b    NaN
c    NaN
d    NaN
dtype: float64

In [ ]:
a=pd.Series([1,2,3,4], index=['x','y','w','z'])
a=a.reindex(index=['a','b','c','d'])
a

a   NaN
b   NaN
c   NaN
d   NaN
dtype: float64

In [ ]:
calories={
    "day1":456,
    "day2":980,
    "day3":1023
}
my_series=pd.Series(calories)
print(my_series)

day1     456
day2     980
day3    1023
dtype: int64

In [ ]:
calories={
    "day1":456,
    "day2":980,
    "day3":1023
}
my_series=pd.Series(calories, index=["day1", "day3"])
print(my_series)

day1     456
day3    1023
dtype: int64

In [ ]:
calories={
    "day1":[456,328,642,1083],
    "day2":[980,377,792,1568],
    "day3":[1023,2731,589,4372]
}
my_series=pd.Series(calories)
print(my_series)

day1      [456, 328, 642, 1083]
day2      [980, 377, 792, 1568]
day3    [1023, 2731, 589, 4372]
dtype: object

In [ ]:
calories={
    "day1":[456,328,642,1083],
    "day2":[980,377,792,1568],
    "day3":[1023,2731,589,4372]
}
df=pd.DataFrame(calories)
print(df)

   day1  day2  day3
0   456   980  1023
1   328   377  2731
2   642   792   589
3  1083  1568  4372

In [ ]:
import numpy as np

data1=np.random.randint(1,10,7)
data2= np.random.randint(8,20,5)

data1 =pd.Series(data1)
data2= pd.Series(data2)

print(data1)
print(data2)

0    9
1    1
2    4
3    7
4    4
5    9
6    2
dtype: int64
0    17
1    19
2    12
3    14
4    11
dtype: int64

In [ ]:
data1.index

RangeIndex(start=0, stop=7, step=1)

In [ ]:
data2=data2.reindex(data1.index)
data2

0    17.0
1    19.0
2    12.0
3    14.0
4    11.0
5     NaN
6     NaN
dtype: float64

In [ ]:
data1=data1.append(pd.Series([8,9,10]))
data1

<ipython-input-17-e31bf5ba2861>:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data1=data1.append(pd.Series([8,9,10]))

0     9
1     1
2     4
3     7
4     4
5     9
6     2
0     8
1     9
2    10
dtype: int64

In [ ]:
a=pd.Series([12,13,14])
data3=pd.concat([data1,a])
data3

0     9
1     1
2     4
3     7
4     4
5     9
6     2
0     8
1     9
2    10
0    12
1    13
2    14
dtype: int64

In [ ]:
std_class = {
    "Alice":"Physics",
    "Jack":"Maths",
    "Molly":"Chem",
    "Sam":"History"
}

s= pd.Series(std_class)
s

Alice    Physics
Jack       Maths
Molly       Chem
Sam      History
dtype: object

In [ ]:
s.iloc[3]

'History'

In [ ]:
s.loc['Alice']

'Physics'

In [ ]:
s[0]

'Physics'

Data Frames

axis 0-rows

axis 1-columns

In [ ]:
import pandas as pd

df=pd.DataFrame({'Names':['stud1','stud2','stud3'],'Scores':[11,12,13]})
print(df)
print(df.shape)
row, col=df.shape
print(row)
print(col)

   Names  Scores
0  stud1      11
1  stud2      12
2  stud3      13
(3, 2)
3
2

In [ ]:
df=pd.DataFrame([{'Names':'stud1','Scores':11},
                 {'Names':'stud2','Scores':12},
                 {'Names':'stud3','Scores':13},
                 {'Names':'stud4','Scores':14},
                 {'Names':'stud5','Scores':15},
                 {'Names':'stud6','Scores':16},
                 {'Names':'stud7','Scores':21},
                 {'Names':'stud8','Scores':14},
                 {'Names':'stud9','Scores':23}])
print(df)
print(df.head())
print(df.tail())
print(df.median())
print(df.mode())
print(df.mean())

   Names  Scores
0  stud1      11
1  stud2      12
2  stud3      13
3  stud4      14
4  stud5      15
5  stud6      16
6  stud7      21
7  stud8      14
8  stud9      23
   Names  Scores
0  stud1      11
1  stud2      12
2  stud3      13
3  stud4      14
4  stud5      15
   Names  Scores
4  stud5      15
5  stud6      16
6  stud7      21
7  stud8      14
8  stud9      23
Scores    14.0
dtype: float64
   Names  Scores
0  stud1    14.0
1  stud2     NaN
2  stud3     NaN
3  stud4     NaN
4  stud5     NaN
5  stud6     NaN
6  stud7     NaN
7  stud8     NaN
8  stud9     NaN
Scores    15.444444
dtype: float64

<ipython-input-36-7bae156e9d7a>:13: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(df.median())
<ipython-input-36-7bae156e9d7a>:15: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(df.mean())

In [ ]:
california = pd.read_csv("/content/sample_data/california_housing_test.csv")
california

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [ ]:
california.shape

(3000, 9)

In [ ]:
print(california.head())
print(california.tail())
print(california.median())

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.05     37.37                27.0       3885.0           661.0
1    -118.30     34.26                43.0       1510.0           310.0
2    -117.81     33.78                27.0       3589.0           507.0
3    -118.36     33.82                28.0         67.0            15.0
4    -119.67     36.33                19.0       1241.0           244.0

   population  households  median_income  median_house_value
0      1537.0       606.0         6.6085            344700.0
1       809.0       277.0         3.5990            176500.0
2      1484.0       495.0         5.7934            270500.0
3        49.0        11.0         6.1359            330000.0
4       850.0       237.0         2.9375             81700.0
      longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
2995    -119.86     34.42                23.0       1450.0           642.0
2996    -118.14     34.06                27.0       5257.0          1082.0
2997    -119.70     36.30                10.0        956.0           201.0
2998    -117.12     34.10                40.0         96.0            14.0
2999    -119.63     34.42                42.0       1765.0           263.0

      population  households  median_income  median_house_value
2995      1258.0       607.0         1.1790            225000.0
2996      3496.0      1036.0         3.3906            237200.0
2997       693.0       220.0         2.2895             62000.0
2998        46.0        14.0         3.2708            162500.0
2999       753.0       260.0         8.5608            500001.0
longitude               -118.48500
latitude                  34.27000
housing_median_age        29.00000
total_rooms             2106.00000
total_bedrooms           437.00000
population              1155.00000
households               409.50000
median_income              3.48715
median_house_value    177650.00000
dtype: float64