<a href="https://colab.research.google.com/github/A7sultan/Python-DA-ML-portfolio/blob/main/Aminah_day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Built-in Data types-

1) Lists

2) Tuples

3) Dictionary

4) sets

In [ ]:
my_list=['a', 79, True, "pink"]
print(my_list)

['a', 79, True, 'pink']

In [ ]:
print(len(my_list))

4

lists allow us to append new values in the list at the end. append operation is strictly restricted to append one value at a time.
Retrival of elements from lists is possible using the index numbers.
Index numbers start from 0 and go upto len-1.

In [ ]:
my_list.append(5.4)
print(my_list)

['a', 79, True, 'pink', 5.4]

In [ ]:
print(my_list[3]) #printing list element from index 3

pink

Negative indexing is a concept where the lits is indexed with -1 from the last element to the first element.

In [ ]:
my_list[-1] #using negative index

5.4

In [ ]:
my_list.pop()

5.4

list slicing

In [ ]:
li1=[21,"Ami", True, False, 0.91, 'r', 7]
li1[0:6:2] #li[start:stop:step]
li2=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
li2[1:5]
a=li1[1:]
b=li1[-5:-3]
b
c=li2[-19:]
c

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

Inserting elements or lists in a list can be done using list_name.insert(index,element)

In [ ]:
blue=[18, 5, "Ash", False, 23.5, 'Y']
blue.insert(3,"hello")
print(blue)

[18, 5, 'Ash', 'hello', False, 23.5, 'Y']

reversing a list

In [ ]:
li=[1,2,3,4,5,6,7,8,9]
li.reverse()
li

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
r=li[::-1]
r

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
a=[1,2,3]
b=[4,5,6]
a.insert(2,b) #INSERT statement
a

[1, 2, [4, 5, 6], 3]

In [ ]:
a.extend(b) #extending
a
z=blue[::2] #printing odd positioned elements in the list
z
i=[1,4,9,20,72, 39]
i[2]="hi"
i

[1, 4, 'hi', 20, 72, 39]

In [ ]:
i.clear() #returns an empty list i
i

[]

In [ ]:
del i #del is a keyword
i     #list i has been deleted from the memory hence an error message is displayed reading 'i' is not defined.

NameError: ignored

Tuples

They are immutable and can only be sliced.

tuples syntax abc=("hey", 1, True, 90.43)

In [ ]:
abc=("hey",5, 'y', False, 9.12)
li=[1,2,3,4,5,6,7,8]
e=tuple(li) #type conversion from list to tuple
type(e)

Tuple slicing

In [ ]:
colours=("red", "blue", "yellow", "green")
d=colours[1:-1]
type(d)

tuple