<a href="https://colab.research.google.com/github/A7sultan/Python-DA-ML-portfolio/blob/main/day_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



# Frozen Set

similar to sets but elements to a frozenset cannot be added or removed

frozenset() - creates an immutable Set object from an iterable

In [ ]:
l = ["Code", "for", "India"]

# converting list to frozenset
f1 = frozenset(l)
type(f1)

# printing empty frozenset object
# print("frozenset Object is : ", f1)

frozenset

# Frozen sets on dictionaries

Since frozenset objects are immutable, they are mainly used as key in dictionary or elements of other sets.

In [ ]:
# creating a dictionary
Student = {"name": "Ifra", "age": 21, "sex": "Feale",
           "college": "CFI", "address": "Hyderabad"}

key = frozenset(Student)

# printing dict keys as frozenset
print('The frozen set is:', key)

The frozen set is: frozenset({'sex', 'college', 'name', 'address', 'age'})

Frozen sets are immuatble

# List Comprehension

In [ ]:
my_list = [1,2,3, 4,5]
newlist = []

for x in my_list:
  if x%2 ==0 :
    newlist.append(x)

print(newlist)

[2, 4]

In [ ]:
my_list = [1,2,3, 4,5]
new_list = [x for x in my_list if x % 2 == 0]

print(new_list)

[2, 4]

In [ ]:
new_list = [x for x in my_list if x != 3]
print(new_list)

[1, 2, 4, 5]

Create a new list with elements from 1-10 with the help of list comprehension

In [ ]:
my_list= [x for x in range(1,11)]
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Modules



To access a function from a module, use the syntax: module_name.function_name.

In [ ]:
import datetime

x = datetime.datetime.now()
print(x)

2023-06-24 10:35:15.873646

To create a date, we can use the **datetime()** class (constructor) of the datetime module.

The datetime() class requires three parameters to create a date: year, month, day.

PATTERNS

Right side triangle

In [ ]:
n=5
for i in range(0, n):
    for j in range(0, i+1):
        print("* ",end="")
    print(" ")

*
* *
* * *
* * * *
* * * * *