<a href="https://colab.research.google.com/github/A7sultan/Python-DA-ML-portfolio/blob/main/Homework2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
d={'col_1':[1,2,3],
   'col_2':[4,5,6],
   'col_3':[7,8,9]
   }

Pandas program to select all rows from the given DataFrame based on the criteria if value 4 is present in it

In [ ]:
df = pd.DataFrame(data=d)
print(df)
print(df.loc[df['col_1'] == 4])
print(df.loc[df['col_2'] == 4])
print(df.loc[df['col_3'] == 4])

   col_1  col_2  col_3
0      1      4      7
1      2      5      8
2      3      6      9
Empty DataFrame
Columns: [col_1, col_2, col_3]
Index: []
   col_1  col_2  col_3
0      1      4      7
Empty DataFrame
Columns: [col_1, col_2, col_3]
Index: []

To reverse the order of DataFrame columns

In [ ]:
print(df.loc[:, ::-1])

   col_3  col_2  col_1
0      7      4      1
1      8      5      2
2      9      6      3

To add one row to an exisiting DataFrame

In [ ]:
df = pd.DataFrame(data=d)
print('After add one row:')
df2 = {'col_1': 21, 'col_2': 11, 'col_3': 9}
df = df.append(df2, ignore_index=True)
print(df)

After add one row:
   col_1  col_2  col_3
0      1      4      7
1      2      5      8
2      3      6      9
3     21     11      9

<ipython-input-13-4f890067b112>:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df2, ignore_index=True)

pandas program to delete Dataframe row(s) which has 5 in it

In [ ]:
df = df[df.col_2 != 5]
print("New DataFrame")
print(df)

New DataFrame
   col_1  col_2  col_3
0      1      4      7
2      3      6      9
3     21     11      9